@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #12202b;
  color: #dee6ea;
  font-weight: bold;
}

.button {
  background-color: #5281af;
  color: #dee6ea;
  font-weight: bold;
  align-items: center;
  margin: 0;
}

.top-bar,
.top-bar ul {
  background-color: #152531;
  border: 1px solid #17313a;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.full-height {
  height: 100vh;
}

.card-box {
  text-align: center;
  height: 80vh;
  border-left: 1px solid #17313a;
}

.card-list {
  text-align: left;
  overflow-x: auto;
  height: 70vh;
  .card-tile {
    background-color: #152531;
    border: 1px solid #17313a;
    margin: 5px;
  }
  .card-tile:hover {
    background-color: #152531;
    border: 2px solid #d47559;
    margin: 5px;
  }
}

.search-box-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  display: flex;
  height: 10vh;
  margin: 10px;
  width: 75%;
  position: relative;
  align-items: center;

  .search-input {
    border-radius: 50px;
    margin: auto 0;
  }

  .search-button {
    border-radius: 50px;
    right: 0px;
    height: 30px;
    width: 30px;
    margin: 10px;
    position: absolute;
    background-color: #123040;
    color: #dee6ea;
    font-weight: bold;
  }
}

.new-card-list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  height: 70vh;
  margin: 10px;
  border-top: 1px solid #17313a;
}

.new-card-tile {
  margin: 10px;
  .new-card-image {
    height: 225px;
    width: auto;
    border-radius: 15px;
  }
  .new-card-image:hover {
    height: 400px;
    z-index: 1;
  }
}

.stats-button,
.delete-button,
.edit-button,
.export-button {
  background-color: #123040;
  color: #d47559;
  font-weight: bold;
  border-radius: 50px;
  height: 35px;
  padding: 0 25px;
}
.stats-button:hover,
.delete-button:hover,
.edit-button:hover,
.export-button:hover {
  color: #5281af;
}

.delete-button,
.edit-button,
.export-button {
  padding: 10px 25px;
  margin: 0 30px;
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  margin: 10px;
  border-top: 1px solid #17313a;
  justify-content: space-between;

  .stat-tile {
    margin: 10px;

    .turn {
      color: #d47559;
      font-weight: bolder;
    }

    .stat-block {
      margin-bottom: 10px;
    }
  }
}

.save {
  background-color: #123040;
  border-radius: 50px;
  margin: 15px;
  padding: 9px 0;
}

.deck-list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  border-top: 1px solid #17313a;
  height: 70vh;
  margin: 10px;

  .deck-tile {
    text-align: center;
    margin: 10px;

    .deck-image {
      height: 250px;
      width: auto;
      border-radius: 15px;
    }
  }

  .selected-deck {
    .deck-image {
      height: 300px;
      box-shadow: 0px 0px 25px #5281af;
    }
  }
}

.profile-options {
  display: flex;
  align-items: center;
}

.deck-options {
  margin: auto;
}

.import-status {
  margin: 0 15px;
}

label {
  color: #dee6ea;
}

.loader {
  width: 35px;
  height: 35px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
