@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.search-box {
  background-color: purple;
}

.search-bar {
  background-color: aqua;
  height: 10vh;
  margin: 2%;
}

.new-cards {
  background-color: green;
  height: 90vh;
  margin: 2%;
}

.card-box {
  background-color: pink;
  text-align: center;
}

.full-height {
  height: 100vh;
}

.card-list {
  background-color: lightblue;
  text-align: left;
}
